body {
  height: 95vh;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#form, #submit-btn {
  margin-top: 2.5rem;
}

#form, #display-text{
  width: 55%;
}

#display-text-div {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#display-text {
  width: 100%;
}

#text-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 736px) { 
    #title {
      font-size: 3rem;
    }
    #subtitle {
      font-size: 1rem;
    }
}